.home{
    background-image: url('~/app/images/contact-bg.png') ;
    background-repeat: no-repeat;
    background-size: cover;
}
.top1{
    text-align: left;
    font-size: 25;
    font-weight: 600;
    width: 90%;
    height: 100%;
}

.middle--content{
    background-color: white;

    height: 25%;
    width: 90%;
    font-size: 15;
    border-radius: 5;
    border-width: 1;
    border-color: rgb(154, 239, 245);
}
.middle--content--text{
    vertical-align: middle;
    text-align: center;
}
.middle--content--text1{
    vertical-align: middle;
}