.home{
    background-image: url('~/app/images/background/product-bg.png');
    background-size: cover;
}
.top{
    background: linear-gradient(to right, #56CCF2,#7F00FF);
    font-size: 18;
    text-align: center;
    color: white;
    height: 10%;
}
.middle{
    height: 50%;
    margin-top: 20;
    width: 95%;
    border-width: 1;
    border-color: rgb(154, 239, 245);
    border-radius: 5;
}
.middle--text{
    vertical-align: middle;
    padding: 5;
}
.middle--text1{
    vertical-align: middle;
    text-align: center;
    padding: 5;
}
.hr{
    border-bottom-width: 1;
    border-color: rgb(168, 148, 148);
    opacity: 0.6;
    width: 98%;
}
.note{
    margin-top: 20;
    width: 95%;
    font-style: italic;

}
.note--text{
    font-weight: 700;
    margin-left: 5;
}
.note--text1{
    font-weight: 400;
    margin-left: 5;
}
